<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD! 😛</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <!-- 부서 추가 팝업 -->
      <div class="write-popup">
        <div class="editor">
          <div class="input-box">
            <label>과정 번호 : </label>
            <input id="insertId" type="number" placeholder="과정번호를 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input id="insertName" type="text" placeholder="과정명을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input id="insertLocation" type="text" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input id="insertStartClassDate" type="date" placeholder="과정 시작 날짜입력..." />
            <input id="insertEndClassDate" type="date" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input id="insertTeacher" type="text" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-cancel" onclick="">취소</a>
            <a href="#" class="btn-success" onclick="doInsert()">등록</a>
          </div>
        </div>
      </div>
      <!-- 부서 수정 -->
      <div class="update-popup">
        <div class="editor">
          <div class="close">
            <a href="#" class="btn-close">닫기</a>
          </div>
          <div class="input-box">
            <label>과정 번호 : </label>
            <input id="detailId" type="number" readonly />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input id="detailName" type="text" placeholder="과정명을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input id="detailLocation" type="text" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input id="detailStartClassDate" type="date" placeholder="과정 시작 날짜입력..." />
            <input id="detailEndClassDate" type="date" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input id="detailTeacher" type="text" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-update" onclick="doUpdate()">수정</a>
            <a href="#" class="btn-delete" onclick="doDelete()">삭제</a>
          </div>
        </div>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
              <span class="title">DW ADMIN</span>
            </a>
          </li>
          <li>
            <a href="/student">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">학생 목록</span>
            </a>
          </li>
          <li>
            <a href="/dept">
              <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
              <span class="title">과정 목록</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Sign Out</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- main -->
    <div class="main">
      <!-- table -->
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>과정 목록</h2>
            <a href="#" onclick="addSubject()" class="btn">과정 추가</a>
          </div>
          <table>
            <thead>
              <tr>
                <th>과정 번호</th>
                <th>과정 이름</th>
                <th>과정 호실</th>
                <th>과정 기간</th>
                <th>담당 교사</th>
              </tr>
            </thead>
            <tbody id="data"></tbody>
          </table>
          <!-- 페이징 처리하는 HTML -->
          <div class="pagination">
            <a>Previous</a>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>Next</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Icon CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- Jquery CDN -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script>
    callDeptData();
    function callDeptData() {
      $.ajax({
        url: '/api/v1/dept',
        type: 'GET',
        dataType: 'json',
        success: function (response) {
          console.log(response);
          for (var i = 0; i < response.length; i++) {
            var html =
              '<tr onclick="getDeptDetail(' +
              response[i].id +
              ')"><td>' +
              response[i].id +
              '</td><td>' +
              response[i].name +
              '</td><td>' +
              response[i].location +
              '</td><td>' +
              response[i].startClassDate.substr(2).replace(/-/g, '.') +
              ' ~ ' +
              response[i].endClassDate.substr(2).replace(/-/g, '.') +
              '</td><td>' +
              response[i].teacher +
              '</td></tr>';
            $('#data').append(html);
          }
        },
      });
    }
    function doInsert() {
      var insertId = $('#insertId').val();
      var insertName = $('#insertName').val();
      var insertLocation = $('#insertLocation').val();
      var insertStartClassDate = $('#insertStartClassDate').val();
      var insertEndClassDate = $('#insertEndClassDate').val();
      var insertTeacher = $('#insertTeacher').val();

      var jsonData = {
        id: insertId,
        name: insertName,
        location: insertLocation,
        startClassDate: insertStartClassDate,
        endClassDate: insertEndClassDate,
        teacher: insertTeacher,
      };
      console.log(jsonData);
      $.ajax({
        url: '/api/v1/dept',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
          alert('추가 완료!');
          location.reload();
        },
      });
    }

    function doUpdate() {
      var detailId = $('#detailId').val();
      var detailName = $('#detailName').val();
      var detailLocation = $('#detailLocation').val();
      var detailStartClassDate = $('#detailStartClassDate').val();
      var detailEndClassDate = $('#detailEndClassDate').val();
      var detailTeacher = $('#detailTeacher').val();

      var jsonData = {
        id: detailId,
        name: detailName,
        age: detailAge,
        address: detailAddress,
        phoneNumber: detailPhoneNumber,
        dept: {
          id: detailDeptName,
        },
      };

      $.ajax({
        url: '/api/v1/dept',
        type: 'PATCH',
        contentType: 'application/json',
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
          alert('수정 완료!');
          location.reload();
        },
      });
    }

    function doDelete() {
      var detailId = $('#detailId').val();

      $.ajax({
        url: '/api/v1/dept/' + detailId,
        type: 'DELETE',
        dataType: 'json',
        success: function (response) {
          alert('삭제 완료!');
          location.reload();
        },
      });
    }

    $('.btn-cancel').click(function () {
      $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function () {
      $('.update-popup').css('display', 'none');
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink() {
      list.forEach((item) => {
        item.classList.remove('hovered');
      });
      this.classList.add('hovered');
    }
    list.forEach((item) => {
      item.addEventListener('mouseover', activeLink);
    });

    function getDeptDetail(id) {
      $('.update-popup').css('display', 'block');
      $.ajax({
        url: '/api/v1/dept/' + id,
        type: 'GET',
        dataType: 'json',
        success: function (response) {
          $('#detailId').val(response.id);
          $('#detailName').val(response.name);
          $('#detailLocation').val(response.location);
          $('#detailStartClassDate').val(response.startClassDate);
          $('#detailEndClassDate').val(response.endClassDate);
          $('#detailTeacher').val(response.teacher);
        },
      });
    }

    function addSubject() {
      $('.write-popup').css('display', 'block');
    }
  </script>
</html>
